<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<div class="container-fluid" id="aboutBody">
  <div class="row justify-content-center" id="aboutMain">
    <div class="col-lg-4 photo" id="aboutIntro">
      <img class="img-fluid" src="../../assets/aboutIntro.jpg" alt="">
      <p><strong>American-Made in Denver, Colorado</strong></p>
    </div>
    <div class="col-lg-6 about" id="aboutDetail">
      <h3 class="text-center">Unleash Potentional</h3>
      <p class="text-justify" >Technology has the power to drive industry, catalyze innovation and transform lives.
        We specialize in making technology accessible to anyone with an idea, passion and vision. Take the guess-work out of technology, focus
        on what drives you to do your best. 
        <br>
        <br>We offer a variety of technological services for anyone from small business, entrepreneuers to large enterprise organizations, as well
        as craftsmen, artists, and charities. Services include websites, applications and tooling, as well as could-based DevOps automation.  
      </p>
      <button class="btn btn-primary info" routerLink="/order">Request an Estimate</button>
    </div>
  </div>
  <br>
  <br>
  <div class="row justify-content-center" id="aboutBody2">
    <div class="col-lg-4 photo" id=aboutDetail2>
      <img class="img-fluid" src="../../assets/chipset.jpg" alt="">
      <p><strong>Navigating the technological Frontier</strong></p>
    </div>
    <div class="col-lg-6 about" id=aboutMain2>
      <h3 class="text-center" >Passionate About Tech</h3>
      <p class="text-justify">5280Free is a Denver-based small technology firm, founded and operated by 
        Jakob "Jake" Essig.  We offer technology consulting and one-time services for a wide-spectrum of customer. We're no
        tech power-house like Google or Amazon, but we know people and understand technology is for humans not machines. 
        <br>
        <br> 
        At 5280Free we live and breathe technology, we have seen websites combat sexual violence in India as well as build 
        the software to navigate satellites to helping make technology-literacy available in our community.  We can't wait
        to see what the future brings, because we will be a part of it. 
      </p>
      <button class="btn btn-primary info" routerLink="/Services">Learn More About our Services</button>
    </div>
  </div>
  <hr class="divide">

  <div class="row justify-content-center" id="aboutPortfolio">
    <div class="col-md">
      <h2 class="text-center" >Sample Our Work and Personal Projects</h2>
      <div class="row justify-content-center">
        <div class="card-group">
          <div class="card mb-3" id="github">
            <a href="https://github.com/Jecousa" target="_blank"><div class="card-header"> Github <i class="fab fa-github"></i></div></a>
            <div class="card-body">
              <h5 class="card-title">Coding Samples</h5>
              <p class="card-text">Github is the social network for coders, engineers, and technology enthusiasts.  Checkout some of our public projects.</p>
              <button class="btn btn-primary content-center outLink"><a href="https://github.com/Jecousa" target="_blank">View Github</a></button>
            </div>
          </div>
          <div class="card  mb-3">
            <a routerLink="https://codepen.io/Jeco/" target="_blank"><div class="card-header">CodePen <i class="fab fa-codepen"></i></div></a>
            <div class="card-body">
              <h5 class="card-title">Web Design Examples</h5>
              <p class="card-text">For most people, the interface is the application.  Frontend, web-design samples of UI/UX available from Codepen.</p>
              <button class="btn btn-primary content-center outLink"><a href="https://codepen.io/Jeco/" target="_blank">View CodePen</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="col-md" id="close">
    <div class="row justify-content-center">
      <p class="text-justify outro">
      We want to make technology work for you! If you have questions or concerns our Inboxes are always open. We offer flexible
      options expertise in the industry, if we can't fulfill your requests we will help you find what you are looking for
    </p>
  </div>
      <div class="row justify-content-center">
        <button id="ctaBtn" class="btn btn-primary content-center" routerLink="/order">Free Estimate with
           30 Minute Consultation</button>
      </div>
    </div>
  </div>