<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let tagline of taglines" [class.selcted]="tagline == selectTag" (click)="onSelect(tagline)" class="nav-item">
        <a  class="nav-link"  routerLink="/{{tagline.id}}" routerLinkActive="active"> {{tagline.id}}</a>
      </li>
    
    </ul> 
  </div>
</nav>
<app-tagline [tagline]="selectTag"></app-tagline>

<!--Contact Modal-->


<ng-template #test>
  <div class="row justify-content-center">
      <h2 class="" >Select a Service to Learn More</h2>
  </div>
</ng-template>
