
<div class="row justify-content-center">
    <div class="container-fluid col-md-10 text-center" id="homeHeadline">
        <h4>5280Free is your partner for the future, serving all client's needs from
            passion projects to international business. We focus on technology so you can focus on what makes you
            amazing!
        </h4>
        <br>
        <hr>
        <div class="container-fluid" id="homeService">
            <h2>Services We Offer</h2>
            <div routerLink="/Services"class="row justify-content-center" id="homeServiceDetails">
                <div class="col-lg offer" id="homeOffer1">
                    <i class="fas fa-code"></i>
                    <h5 class="">Web Services</h5>
                    <br id="hideMe">
                    <p class="">Full-Stack Development with a Mobile First Design Philosophy</p>
                </div>
                <div class="col-lg offer" id="homeOffer2">
                    <i class="fas fa-sitemap"></i>
                    <h5 class="">Enterprise <br> Applications</h5>
                    <p class="">Productivity Scripts or Full Featured Mobile or DesktopApps</p>
                </div>
                <div class="col-lg offer" id="homeOffer3">
                    <i class="fas fa-code-branch"></i>
                    <h5 class="">DevOps <br> Automation</h5>
                    <p class="">DevOps Services &amp; Data Driven Insights to Maximize Resources</p>

                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <div class="row justify-content-center" id="homeAction">
            <p class="lead">
                <button class="col-md btn btn-primary btn-lg" routerLink="/order" id="consult">Free Estimate With<br>30
                    Minute
                    Consultation</button>
            </p>
        </div>
    </div>
</div>