<div class="heading text-center col-lg " *ngIf="tagline; else defaultHeader" [style.background]="'url('+ tagline.image +')'">
    <h1 class="align-middle" >{{tagline.mainText}}</h1>
    <H4>{{tagline.tag}}</H4>
</div>

<ng-template #defaultHeader>
    <div class="heading text-center col-lg " id="defaultTag"> 
            <h1 class="align-middle">
                Colorado's Premiere Technology Firm
            </h1>
            <h4>
                Form Compliments Function
            </h4>
    </div>
</ng-template>
