<div class="container" id="blogBody">
  <div class="row justify-content-center">
    <h2>Blog Coming Soon</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <p>
        Sorry, Blog is not quite ready yet.  Don't worry, we are fast at work
        are working on creating informative, quality content. Please check in April 15th.
        <br>
        Content include technology news, coding tutorials, business insight and other topics.
        Suggestions, concerns comments?  Please e-mail <a id="blog" href="mailto:Jake@5280free.com?Subject=blog">Jake@5280free.com</a>
      </p>
    </div>
  </div>
</div>