$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
h1, h2, h3, h4, h5, h6{
  color:#333333;
  font-family: 'Raleway', sans-serif;
}
p{
  color:#555555;
  font-family: 'Roboto Slab', serif;
}
a,
a:active,
a:visited,
a:focus,
a:hover{ 
  color: #eeeeee;
  text-decoration: none;
}
i{
  color:	#999999;
}
.btn,
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
 color: #eeeeee;
 background: #6e7a73;
 border-color: #6e7a73;
}