<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<div class="container-fluid" id="servicesHeadline">
  <h2 class="text-center" >Learn About Our Services</h2>
  <div class="row justify-content-center" id="serviceNav">
      <button class="col-md-3 btn btn-primary" *ngFor="let service of services" [class.selected]="service === selectedService"
        (click)="onSelect(service)" >{{service.name}}</button>
    </div>
  <div class="service-offerings" id="serviceDetail">
    <app-services-detail [service]="selectedService"></app-services-detail>
  </div>
 
</div>